* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img {
    max-width: 100px;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 100%);
    color: #333333;
}

header {
    background-color: #ff6f00;
    padding: 8px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

/* Main styles */
main {
    padding: 20px;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

/* Section title styles */
h2 {
    color: #333;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
